# Filtrando Top N Ações por Setor

In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('../dataset/statusinvest-busca-avancada.csv', sep=';')

In [6]:
df

,TICKER,PRECO,DY,P/L,P/VP,P/ATIVOS,MARGEM BRUTA,MARGEM EBIT,MARG. LIQUIDA,P/EBIT,...,PATRIMONIO / ATIVOS,PASSIVOS / ATIVOS,GIRO ATIVOS,CAGR RECEITAS 5 ANOS,CAGR LUCROS 5 ANOS,LIQUIDEZ MEDIA DIARIA,VPA,LPA,PEG Ratio,VALOR DE MERCADO
0,AALR3,"21,19",NaN,"-45,40","2,19","0,97","31,96","4,48","-4,98","50,42",...,"0,45","0,54","0,43","3,62",NaN,"6.863.653,07","9,68","-0,47","0,16","2.506.624.771,04"
1,ABCB4,"20,49","5,61","6,85","0,94","0,09","21,90","12,88","11,98","6,37",...,"0,10","0,90","0,11","7,15","11,54","16.488.420,07","21,72","2,99","0,13","4.632.586.517,82"
2,ABEV3,"15,67","3,85","18,22","2,86","1,81","49,91","22,47","17,60","14,28",...,"0,63","0,36","0,56","9,82","1,54","338.846.818,49","5,48","0,86","-2,58","246.805.898.055,17"
3,ADHM3,"1,56",NaN,"-4,09","-1,29","105,12","100,00","-13.548,48","-18.860,61","-5,69",...,"-81,72","82,72","0,14",NaN,NaN,NaN,"-1,21","-0,38","-0,58","25.439.770,20"
4,AERI3,"2,05","1,01","31.414,75","1,62","0,47","11,54","8,64","0,00","7,55",...,"0,29","0,71","0,72",NaN,NaN,"10.378.071,00","1,26","0,00","-314,29","1.570.737.584,80"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
596,WHRL4,"5,79","13,61","10,63","3,79","1,06","17,15","8,58","7,25","8,98",...,"0,28","0,72","1,38","14,11","21,29","50.412,07","1,53","0,54","-0,80","8.145.632.493,06"
597,WIZS3,"7,80","7,54","9,91","3,26","0,64","57,93","36,70","15,13","4,09",...,"0,20","0,54","0,43","15,13","-2,80","8.076.755,56","2,39","0,79","-0,21","1.247.276.799,60"
598,WLMM3,"20,20","5,75","7,27","1,27","1,05","14,56","8,04","6,52","5,90",...,"0,82","0,18","2,21","34,55",NaN,"9.573,80","15,87","2,78","0,75","892.141.154,50"
599,WLMM4,"28,09","2,47","10,12","1,77","1,46","14,56","8,04","6,52","8,20",...,"0,82","0,18","2,21","34,55",NaN,"23.283,73","15,87","2,78","1,05","892.141.154,50"
600,YDUQ3,"14,20","0,89","405,04","1,40","0,44","54,39","12,04","0,24","8,14",...,"0,32","0,68","0,45","6,64","-50,59","63.379.874,44","10,15","0,04","-4,33","4.389.061.684,20"

In [7]:
df_ind = df[['TICKER', 'PRECO', 'P/L']]
df_ind

    TICKER  PRECO        P/L
0    AALR3  21,19     -45,40
1    ABCB4  20,49       6,85
2    ABEV3  15,67      18,22
3    ADHM3   1,56      -4,09
4    AERI3   2,05  31.414,75
..     ...    ...        ...
596  WHRL4   5,79      10,63
597  WIZS3   7,80       9,91
598  WLMM3  20,20       7,27
599  WLMM4  28,09      10,12
600  YDUQ3  14,20     405,04

[601 rows x 3 columns]

## 1. Calcular Endividamento

- Divida Liquida/Ebit -> Divida Atual
- Passivo/Ativo -> Divida Futura
- Liquidez Corrente -> Capacidade de Pagar as Dividas

## 2. Calcular a Lucratividade

- Margem Bruta -> Receita Total
- Margem Ebit -> Receita Descontando gastos
- Margem Liquida -> Lucro que entra no Bolso

## 3. Rentabilidade

- Roe -> Retorno sobre patrmonio liquido
- Roic -> Retorno sobre patrimonio total da empresa

## 4. Crescimento

- Cagr Lucros -> Quanto os lucros cresceram
- Cagr Receita -> Quanto cresceu nos ultimos anos

## 5. Valuation

- Formula Graham
- Formula Fluxo de caixa descontado